<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="ioService" class="org.dgp.hw.service.StreamsIOService">
        <constructor-arg index="0">
            <util:constant static-field="java.lang.System.out"/>
        </constructor-arg>
    </bean>

    <bean id = "testRunnerService" class = "org.dgp.hw.service.TestRunnerServiceImpl">
        <constructor-arg index="0" ref="testService"/>
    </bean>

    <bean id="testService" class="org.dgp.hw.service.TestServiceImpl">
        <constructor-arg name="ioService" ref="ioService"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

    <bean id="testFileNameProvider" class="org.dgp.hw.config.AppProperties">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="questionDao" class="org.dgp.hw.dao.CsvQuestionDao">
        <constructor-arg name="fileNameProvider" ref="testFileNameProvider"/>
    </bean>

</beans>
